/build/
/build_tico/
/.drasticds-nx-cache/
/launcher/build/
/launcher/dependencies/build/
/launcher/romfs/fwd/
*.nro
*.nacp
*.elf
*.map
*.o
*.pyc
__pycache__/
**/Lossless.dll
**/libdrastic_arm64.so
**/drastic_bios_arm7.bin
**/drastic_bios_arm9.bin
**/nds_bios_arm7.bin
**/nds_bios_arm9.bin
**/nds_firmware.bin
**/nds_firmware_modified.bin
**/game_database.xml
**/usrcheat.dat
!third_party/nds-i-cheat-databases/usrcheat.dat
*.apk
.DS_Store
/tico-*-module.zip
